<div class="row">
    <!--<div class="col-lg-12">-->
        <!--<div class="table-responsive">-->
            <!--<table class="table table-bordered table-striped table-hover">-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>{{'IDEAS_ID' | translate}}</th>-->
                        <!--<th>{{'IDEAS_TITLE' | translate}}</th>-->
                        <!--<th>{{'IDEAS_CONTENT' | translate}}</th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr ng-repeat="item in model">-->
                        <!--<td>{{item.id}}</td>-->
                        <!--<td>{{item.title}}</td>-->
                        <!--<td>{{item.content}}</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
                <!--<tfoot data-ng-if="model.length == 0">-->
                    <!--<tr>-->
                        <!--<td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>-->
                    <!--</tr>-->
                <!--</tfoot>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
   <article class="idea" ng-repeat="item in model">
       <header class="idea-title"><h3>{{ item.title }}</h3></header>
       <section class="description">
           <p>{{ item.content }}</p>
       </section>
       <footer>
           <div class="tags" ng-repeat="tag in item.tagNames">
               <a class="btn ng-binding" ng-click="onClickSearchTags( tag )">{{ tag }}</a>
           </div>
           <div class="people">
               <img href="https://pbs.twimg.com/profile_images/1877737374/20110907at09-16-47.jpg" />
           </div>
           <div class="stats">
               <div class="stars"></div>
               <div class="smileys"></div>
               <div class="euros"></div>
           </div>
       </footer>
   </article>
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{'IDEAS_ID' | translate}}</th>
                        <th>{{'IDEAS_TITLE' | translate}}</th>
                        <th>{{'IDEAS_CONTENT' | translate}}</th>
                        <th>{{'IDEAS_IDEALIST_ID' | translate}}</th>
                        <th>{{'IDEAS_TAGS_ID' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.content}}</td>
                        <td>{{item.idealistId}}</td>
                        <td>{{item.tagNames}}</td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>
