<div class="row">
    <article class="idea" ng-repeat="item in model">
        <label class="idea-title">{{'IDEAS_TITLE' | translate}}</label>
        <span>{{ item.title }}</span>
        <br/>
        <label class="idea-title">{{'IDEA_VIEW_CONTENT' | translate}}</label>
        <span>{{ item.content }}</span>

        <footer>
            <div class="tags" ng-repeat="tag in item.tagNames">
                <a class="btn ng-binding" ng-click="onClickSearchTags( tag )">{{ tag }}</a>
            </div>
            <div class="people flex">
                <div><label>{{'IDEA_VIEW_PEOPLE' | translate}}</label></div>
                <div class="img-rounded">
                    <img src="https://pbs.twimg.com/profile_images/1877737374/20110907at09-16-47.jpg" />
                </div>
            </div>
            <div class="stats">
                <div class="stars"></div>
                <div class="smileys"></div>
                <div class="euros"></div>
            </div>
            <a href ng-click="onClickViewIdea(item)">{{'IDEAS_VIEW_IDEA' | translate}}</a>
        </footer>
    </article>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>