<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>{{'VIEW_IDEA_MODAL_ID' | translate}}</dt>
                    <dd>{{model.id}}</dd>
                    <dt>{{'VIEW_IDEA_MODAL_TITLE' | translate}}</dt>
                    <dd>{{model.title}}</dd>
                    <dt>{{'VIEW_IDEA_MODAL_CONTENT' | translate}}</dt>
                    <dd>{{model.content}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

    </div>
</div>
