<div class="row">
    <div class="col-lg-12 flex">
        <div class="half">

        <a href>{{'SITE_HEADER_OSALLISTU' | translate}}</a>
        <button type="button" class="btn btn-primary" ng-click="onClickUusiIdea()">{{'SITE_HEADER_UUSI_IDEA' | translate}}</button>

        <input type="text" placeholder="etsi"/>
        <button type="button" class="btn btn-primary" ng-click="onClickHae()">{{'SITE_HEADER_HAE' | translate}}</button>
        <a href>{{'SITE_HEADER_KUINKA_PALVELU_TOIMII' | translate}}</a>
        </div>
        <div class="half img-rounded">

            <img  src="https://pbs.twimg.com/profile_images/1877737374/20110907at09-16-47.jpg"/>
        </div>
    </div>
</div>
